/* Styling for dropdown overlay */
.dropdown-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

/* Styling for mobile dropdown */
.dropdown {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 90px;
  right: 0px;
  z-index: 1;
  float: right;
  width: 200px;
  height: 345px;
  background-image: linear-gradient(to top, rgb(25, 24, 24), rgb(32, 30, 30));
  border: 0.25px solid rgb(84, 82, 82);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  transition: transform 100ms linear;
}

.dropdown img {
  width: 18px;
  height: 18px;
  margin: 20px 0px 0px 20px;
  cursor: pointer;
}

/* Styling for dropdown ul */
.dropdown ul{
  padding: 0px 0 0 20px;
  text-align: left;
}

/* Styling for dropdown ul li */
.dropdown ul li {
  color: rgb(222, 222, 222);
  font-size: 25px;
  margin-bottom: 18px;
}

/* Styling for dropdown projects list */
.dropdown ul li ul {
  padding: 8px 10px 0 6px;
  font-family: satoshi-regular;
  color: rgb(216, 215, 215);
}

/* Styling for project list links */
.dropdown ul li ul li {
  font-size: 18px;
  margin-bottom: 12px;
}

@media screen and (min-width: 800px) {
  /* Disable mobile dropdown */
  .dropdown {
    display: none;
  }
}