@media only screen and (min-width: 800px) {
  /* Styling for About Me */
  #about {
    width: 80%;
  }

  /* Styling for About Me header */
  .about-header {
    margin: 170px 0px 35px;
    font-size: 60px;
    text-shadow: 4px 4px black;
  }

  /* Styling for Computer GIF div */
  .computer-gif-div {
    margin-bottom: 50px;
  }

  /* Styling for About Me sections */
  .portfolio-section {
    flex-direction: row;
    align-items: center;
    padding: 25px 0;
  }

  /* Allows logo img to display in a row */
  .portfolio-section > div {
    flex: 1;
    display: flex;
  }

  /* Styling for About Me paragraphs */
  #about p {
    margin: 0 20px;
    font-size: 18px;
  }

  /* Styling for SDSU and Code Ninjas logo */
  #sdsu, #codeninjas {
    width: 110px;
    height: 110px;
    margin-right: 20px;
  }

  /* Styling for programming language logos */
  .prog-img {
    margin: 0 7px 0;
  }

  /* Styling for Java logo */
  #java {
    width: 50px;
    height: 86px;
  }

  /* Styling for Python logo */
  #python {
    width: 75px;
    height: 75px;
    padding-top: 7px;
  }

  /* Styling for Unity logo */
  #unity {
    width: 145px;
    height: 51px;
  }

  /* Styling for React logo */
  #react {
    width: 67px;
    height: 60px;
  }

  /* Styling for NodeJS logo */
  #nodejs {
    width: 98px;
    height: 60px;
    margin-right: -5px;
  }

  /* Styling for MySQL logo */
  #mysql {
    width: 115px;
    height: 66px;
  }
}

@media only screen and (min-width: 1200px) {
  /* Styling for About Me */
  #about {
    width: 58%;
    max-width: 735.4px;
  }

  /* Styling for About Me header */
  .about-header {
    margin: 135px 0px 35px;
  }

  /* Styling for About Me sections */
  .a-section {
    margin-bottom: 30px;
  }

  /* Styling for Java logo */
  #java {
    width: 55px;
    height: 95px;
  }
  
  /* Styling for Python logo */
  #python {
    width: 85px;
    height: 85px;
    padding-top: 7px;
  }
  
  /* Styling for Unity logo */
  #unity {
    width: 155px;
    height: 54px;
  }
  
  /* Styling for React logo */
  #react {
    width: 72px;
    height: 65px;
  }
  
  /* Styling for NodeJS logo */
  #nodejs {
    width: 105px;
    height: 65px;
  }
  
  /* Styling for MySQL logo */
  #mysql {
    width: 130px;
    height: 71px;
  }
}

@media only screen and (min-width: 1440px) {
  /* Styling for About Me */
  #about {
    width: 51%;
  }

  /* Styling for About Me header */
  #about h1 {
    margin: 150px 0px 45px;
    font-size: 67px;
  }
}

@media only screen and (min-width: 1920px) {
  /* Styling for About Me */
  #about {
    width: 43%;
  }

  /* Styling for About Me header */
  .about-header {
    margin: 165px 0px 45px;
  }
}

@media only screen and (min-width: 2560px) {
  /* Styling for About Me */
  #about {
    width: 32%;
    max-width: 800px;
  }

  /* Styling for About Me header */
  .about-header {
    margin: 175px 0px 45px;
    font-size: 79px;
  }

  /* Styling for Computer GIF div */
  .computer-gif-div {
    width: 255px;
    height: 255px;
    margin-bottom: 65px;
  }

  /* Styling for Computer GIF */
  #computer-gif {
    width: 230px;
    height: 230px;
  }

  /* Styling for Java logo */
  #java {
    width: 64px;
    height: 110px;
  }
  
  /* Styling for Python logo */
  #python {
    width: 105px;
    height: 105px;
    padding-top: 7px;
  }
  
  /* Styling for Unity logo */
  #unity {
    width: 170px;
    height: 61px;
  }
  
  /* Styling for React logo */
  #react {
    width: 82px;
    height: 73px;
  }
  
  /* Styling for NodeJS logo */
  #nodejs {
    width: 119px;
    height: 72px;
  }
  
  /* Styling for MySQL logo */
  #mysql {
    width: 160px;
    height: 88px;
  }
}