@media only screen and (min-width: 800px) {
  /* Styling for header */
  .header-container {
    justify-content: space-evenly;
    height: 120px;
    padding: 0;
  }

  /* Styling for home button container */
  .home-button {
    padding-left: 0px;
  }

  /* Styling for home button img */
  #home-button-img {
    width: 42px;
    height: 42px;
    margin-right: 15px;
  }

  /* Enable nav links */
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

    /* Styling for nav links */
  .nav-links a{
    color: rgb(222, 222, 222);
    font-size: 22px;
    margin: 0 12px;
  }

  .nav-links a:hover {
    color: white;
  }

  /* Enable GitHub link */
  #github-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    margin-left: 30px;
    padding: 6px;
    border: 1px solid white;
    border-radius: 30px;
  }

  /* Disable menu container */
  .menu-container {
    display: none;
  }

  /* Disable mobile dropdown */
  .dropdown {
    display: none;
  }

  /* Styling for About Me */
  #about {
    width: 86%;
  }

  /* Styling for About Me header */
  #about h1 {
    margin: 155px 0px 35px;
    font-size: 60px;
    text-shadow: 4px 4px black;
  }

  /* Styling for Computer GIF div */
  .computer-gif-div {
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
  }

  /* Styling for Computer GIF */
  #computer-gif {
    width: 175px;
    height: 175px;
  }

  /* Styling for About Me sections */
  .portfolio-section {
    flex-direction: row;
    align-items: center;
    padding: 25px 0;
  }

  /* Allows logo img to display in a row */
  .portfolio-section > div {
    flex: 1;
    display: flex;
  }

  /* Styling for About Me paragraphs */
  #about p {
    margin: 0 20px;
  }

  /* Styling for SDSU and Code Ninjas logo */
  #sdsu, #codeninjas {
    width: 120px;
    height: 120px;
    margin-right: 20px;
  }

  /* Styling for programming language logos */
  .prog-img {
    margin: 0 9px 0;
  }

  /* Styling for Java logo */
  #java {
    width: 50px;
    height: 86px;
  }

  /* Styling for Python logo */
  #python {
    width: 75px;
    height: 75px;
    padding-top: 7px;
  }

  /* Styling for Unity logo */
  #unity {
    width: 155px;
    height: 55px;
  }

  /* Styling for React logo */
  #react {
    width: 67px;
    height: 60px;
  }

  /* Styling for NodeJS logo */
  #nodejs {
    width: 98px;
    height: 60px;
    margin-right: -5px;
  }

  /* Styling for MySQL logo */
  #mysql {
    width: 121px;
    height: 70px;
  }
}

@media only screen and (min-width: 1200px) {
  /* Styling for header */
  .header-container {
    height: 100px;
  }

  /* Styling for home button name */
  #home-button-name {
    font-size: 29px;
  }

  /* Styling for home button img */
  #home-button-img {
    width: 48px;
    height: 48px;
    margin-right: 20px;
  }

  /* Styling for nav links */
  .nav-links a{
    font-size: 25px;
    margin: 0 16px;
  }

  /* Styling for About Me */
  #about {
    width: 67%;
  }

  /* Styling for About Me header */
  #about h1 {
    margin: 135px 0px 45px;
  }

  /* Styling for Computer GIF div */
  .computer-gif-div {
    width: 225px;
    height: 225px;
    margin-bottom: 50px;
  }

  /* Styling for Computer GIF */
  #computer-gif {
    width: 200px;
    height: 200px;
  }

  /* Styling for About Me sections */
  .a-section {
    margin-bottom: 30px;
  }

  /* Styling for Java logo */
  #java {
    width: 55px;
    height: 95px;
  }
  
  /* Styling for Python logo */
  #python {
    width: 95px;
    height: 95px;
    padding-top: 7px;
  }
  
  /* Styling for Unity logo */
  #unity {
    width: 155px;
    height: 54px;
  }
  
  /* Styling for React logo */
  #react {
    width: 72px;
    height: 65px;
  }
  
  /* Styling for NodeJS logo */
  #nodejs {
    width: 105px;
    height: 65px;
  }
  
  /* Styling for MySQL logo */
  #mysql {
    width: 140px;
    height: 77px;
  }
}