@media only screen and (min-width: 1440px) {
  /* Styling for About Me */
  #about {
    width: 59%;
  }

  /* Styling for About Me header */
  #about h1 {
    margin: 150px 0px 45px;
    font-size: 67px;
  }
}

@media only screen and (min-width: 1920px) {
  /* Styling for header */
  .header-container {
    height: 120px;
  }

  /* Styling for home button name */
  #home-button-name {
    font-size: 33px;
  }

  /* Styling for home button img */
  #home-button-img {
    width: 53px;
    height: 53px;
    margin-right: 20px;
  }

  /* Styling for GitHub link */
  #github-link-container {
    width: 120px;
    height: 35px;
    padding: 8px;
    margin-left: 50px;
  }

  /* Styling for About Me */
  #about {
    width: 43%;
  }

  /* Styling for About Me header */
  #about h1 {
    margin: 165px 0px 45px;
    font-size: 73px;
  }
}

@media only screen and (min-width: 2560px) {
  /* Styling for nav links */
  .nav-links a{
    font-size: 28px;
  }

  /* Styling for About Me */
  #about {
    width: 39%;
  }

  /* Styling for About Me header */
  #about h1 {
    margin: 175px 0px 45px;
    font-size: 79px;
  }

  /* Styling for About Me paragraphs */
  #about p {
    font-size: 23px;
  }

  /* Styling for Computer GIF div */
  .computer-gif-div {
    width: 255px;
    height: 255px;
    margin-bottom: 65px;
  }

  /* Styling for Computer GIF */
  #computer-gif {
    width: 230px;
    height: 230px;
  }

  /* Styling for SDSU and Code Ninjas logo */
  #sdsu, #codeninjas {
    width: 135px;
    height: 135px;
    margin-right: 20px;
  }

  /* Styling for Java logo */
  #java {
    width: 69px;
    height: 119px;
  }
  
  /* Styling for Python logo */
  #python {
    width: 112px;
    height: 112px;
    padding-top: 7px;
  }
  
  /* Styling for Unity logo */
  #unity {
    width: 183px;
    height: 66px;
  }
  
  /* Styling for React logo */
  #react {
    width: 88px;
    height: 79px;
  }
  
  /* Styling for NodeJS logo */
  #nodejs {
    width: 124px;
    height: 75px;
  }
  
  /* Styling for MySQL logo */
  #mysql {
    width: 160px;
    height: 88px;
  }
}