/* Satoshi Black Font */
@font-face {
  src: url(/public/Satoshi_Complete/Fonts/OTF/Satoshi-Black.otf);
  font-family: satoshi-black;
}

/* Satoshi Regular Font */
@font-face {
  src: url(/public/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf);
  font-family: satoshi-regular;
}

/* Styling for all page bodies */
body {
  margin: 0;
  background-color: rgb(22, 21, 21);
  /*background-color: white;*/
  color: white;
  font-family: satoshi-black;
}

/* Styling for all ul elements */
ul {
  list-style-type: none;
}

/* Styling for all a elements */
 a {
  text-decoration: none;
 }

 /* Styling for all link elements */
 .link:hover {
  cursor: pointer;
  color: white;
 }

 /* Styling for About Me and Project sections */
.portfolio-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(27, 26, 26);
  margin-bottom: 20px;
  padding: 20px 0;
  border: 0.25px solid rgb(84, 82, 82);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}