/* Styling for modal container */
.modal-container {
  position: fixed;
  z-index: 2000;
  inset: 0;
}

/* Styling for overlay */
.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: auto;
}

/* Styling for project modal */
.project-modal {
  width: 85%;
  max-width: 486px;
  top: 5%;
  position: relative;
  background-color: rgb(27, 26, 26);
  border: 0.25px solid rgb(84, 82, 82);
  border-radius: 10px;
  padding: 15px;
  margin: 0 auto;
}

/* Styling for modal content */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Modal header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 17px;
}

/* Styling for modal project title */
.modal-header span {
  font-size: 30px;
  margin-left: 2px;
}

/* Styling for modal close button */
.modal-header img {
  width: 18px;
  height: 18px;
  padding-right: 5px;
  cursor: pointer;
}

/* Styling for modal bullet points */
.modal-content ul {
  width: 91%;
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

/* Styling for modal text */
.modal-content li {
  font-family: satoshi-regular;
  font-size: 19px;
  color: rgb(216, 215, 215);
  margin-bottom: 18px;
}

/* Styling for source code button */
.source-code-button {
  width: 280px;
  height: 50px;
  font-family: satoshi-black;
  font-size: 20px;
  color: rgb(45, 44, 44);
  background-color: white;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
}

.source-code-button:hover {
  cursor: pointer;
  background-color: rgb(235, 233, 233);
}

@media only screen and (min-width: 800px) {
  /* Styling for project modal */
  .project-modal {
    width: 60%;
    top: 4%;
  }

  /* Styling for modal content */
  .modal-content {
    width: 96%;
    margin: 0 auto;
  }

  /* Styling for modal project title */
  .modal-header span {
    font-size: 35px;
  }

  /* Styling for modal close button */
  .modal-header img {
    width: 21px;
    height: 21px;
    padding-right: 5px;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1200px) {
  /* Styling for modal text */
  .modal-content li {
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 1920px) {
   /* Styling for project modal */
  .project-modal {
    top: 13%;
  }
}

@media only screen and (min-width: 2560px) {
  /* Styling for project modal */
  .project-modal {
    width: 24%;
    top: 16%;
    max-width: 1000px;
  }

   /* Styling for modal project title */
   .modal-header span {
    font-size: 40px;
  }

  /* Styling for modal text */
  .modal-content li {
    font-size: 21px;
    margin-bottom: 30px;
  }

  /* Styling for source code button */
  .source-code-button {
    width: 300px;
    height: 60px;
    font-size: 23px;
    margin: 10px 0 25px;
  }
}