/* Styling for overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

/* Styling for modal container */
.project-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width: 94%;
  background-color: rgb(27, 26, 26);
  padding: 15px 0;
  margin: 0 auto 20px;
  border: 0.25px solid rgb(84, 82, 82);
  border-radius: 10px;
}

/* Styling for modal content */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92%;
  margin: 0 auto;
}

/* Styling for modal header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 17px;
}

/* Styling for modal project title */
.modal-header span {
  font-size: 35px;
  margin-left: 2px;
}

/* Styling for modal close button */
.modal-header img {
  width: 18px;
  height: 18px;
  padding-right: 5px;
  cursor: pointer;
}

/* Styling for modal bullet points */
.modal-content ul {
  width: 91%;
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

/* Styling for modal text */
.modal-content li {
  font-family: satoshi-regular;
  font-size: 19px;
  color: rgb(216, 215, 215);
  margin-bottom: 15px;
}

/* Styling for source code button */
.source-code-button {
  width: 280px;
  height: 50px;
  font-family: satoshi-black;
  font-size: 20px;
  color: rgb(45, 44, 44);
  background-color: white;
  border-radius: 10px;
  border: none;
  margin: 10px 0 10px;
}

.source-code-button:hover {
  cursor: pointer;
  background-color: rgb(235, 233, 233);
}